body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f2f2;
}


#header{
    background-color: #2F8D46;
    color: white;
    width: 100%;
    height:50px; 
}
#footer{
    background-color: #2F8D46;
    color: white;
    align-items: center;
    width: 100%;
    height: 55px; 
    text-align: center;
    padding-top:1.5px;
}
#name{
    text-align: left;
    position:relative;
    top:10px;
    left:35px;
    
}
#search-bar{
    text-align: right;
    position:relative;
    bottom:13px;
    right:40px;
}
#menu-container{
    background-color:#4CAF50;
    width: 100%;
    display:flex;
    justify-content: space-around;
    height:40px;
    align-items: center;
}
.menu-items{
    color:white;
    text-align:center;
    justify-self: center;
    cursor:pointer;
}
h1{
    text-align: center;
    color:#2F8D46;
}
#content{
    text-align: center;
    color:black;
}
#container{
    display: flex;
    justify-content: space-between;
    gap:30px;
    margin:50px auto;
    max-width:900px;
}
#container1{
    background-color:gainsboro;
    align-items: center;
    width:40%;
    padding:10px;
    border-radius:6px;
}
#container2{
    background-color:gainsboro;
    align-items: center;
    width:40%;
    padding: 10px;
    border-radius:6px;
}
#container3{
    background-color:gainsboro;
    align-items: center;
    width:40%;
    padding:10px;
    border-radius:6px;
}
@media (max-width: 800px) {
    #container {
        flex-direction: column;
        align-items: center;
    }
    #container1, #container2, #container3 {
        width: 80%;
        margin-bottom: 20px;
    }
}